#app
  position relative
  width 100%
  min-height 100vh
  cursor pointer
  overflow hidden
  font-family Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-focus-ring-color rgba(0, 0, 0, 0)

#app-container
  width 100%
  height 100%

#login
  width 100%
  box-sizing border-box
  padding 40px
  p
    margin 20px 0 10px
    font-size 14px
    color #323232
  .login-img
    margin-bottom 10px
    text-align center
    img
      display inline-block
      max-width 50px
  button
    width 100%
    margin-top 30px

.top-menu
  position fixed
  width 100%
  height 50px
  padding 10px 20px
  box-sizing border-box
  background #324057
  z-index 248
  h1
    float left
    width calc(100% - 50px)
    font-weight bold
    font-size 18px
    height 30px
    line-height 30px
    text-align center
    color #7fe67f
    span
      color #fff

.burger
  position relative
  float left
  width 25px
  height 30px
  cursor pointer
  outline none
  .bline
    position absolute
    left 0
    width 100%
    height 2px
    background #fff
  .bl-1
    top 7px
  .bl-2
    top 13px
  .bl-3
    top 19px

.second-menu
  float right
  width 25px
  height 30px
  box-sizing border-box
  padding 7px 0 0
  color #fff
  text-align right
  .el-icon-menu
    display inline-block

.overlay-dark
  position fixed
  display none
  top 0px
  left 0px
  width 100%
  height 100%
  background rgba(0,0,0,0.5)
  outline: none
  z-index 249
  &.active
    display block

.sidebar, .second-bar
  position fixed
  top 0px
  width 240px
  padding 0 20px 10px
  height 100%
  box-sizing border-box
  background #fff
  transition .3s linear
  outline: none
  z-index 250

.sidebar
  left -240px
  &.active
    left 0px

.second-bar
  right -240px
  &.active
    right 0px
  .el-form-item
    margin-bottom 5px

.top-line
  display block
  width 100%
  height 50px
  margin-bottom 15px
  padding 10px 0
  box-sizing border-box
  border-bottom 1px solid #323232
  .el-icon-close
    margin-top 7px
  .close-left
    float left
  .close-right
    float right
  .top-line-username
    float left
    width 180px
    overflow hidden
    height 30px
    line-height 30px
    font-size 14px
  .top-line-menu
    float left
    text-align center
    width 160px
    overflow hidden
    height 30px
    line-height 30px
    font-size 14px

.bottom-line
  display block
  width 100%
  height auto
  margin 15px 0
  padding 10px 0
  box-sizing border-box
  border-top 1px solid #323232
  .el-button
    width 100%
    margin 10px 0px 5px
  .el-button+.el-button
    margin 5px 0

.menu-row
  float left
  width 100%
  padding 5px
  box-sizing border-box
  height auto
  font-size 14px
  .el-button
    width 100%

.workspace
  float left
  width 100%
  margin-top 50px

.container
  float left
  width 100%
  margin-top 50px
  box-sizing border-box
  padding 20px

#map
  min-height calc(100vh - 50px)
  z-index 100

.el-message
  min-width 200px
